footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
    background-color: #f2f2f2;
    text-align: start;
  }
  
  .instagram-icon {
    color: #060003;
    font-size: 20px;
    text-decoration: none;
  }
  
  .facebook-icon {
    color: #060003;
    font-size: 20px;
    text-decoration: none;
  }
  
  .gmail-icon {
    color: #060003;
    font-size: 20px;
    text-decoration: none;
  
  }
  .enlaces3 {
    text-decoration: none;
    list-style-type: none;
  }
  