header {
    display: flex;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    background: #f5f4f4;
  }
  
#navbar {
    background-color: map-get($map: $colors, $key:backgrounds);
  }

  #logoeberdevis {
    display: flex;
    margin-right: auto;
   @include tamano (100px,105px)
  }
  #navegacion-principal:hover {
    display: flex;
    text-decoration: none top 0;
    margin-left: auto;
  }