.grid-container-servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr;
    column-gap: 10px;
    row-gap: 10px;
    margin: 10px 10px 50px 10px;
  
  
  img {
    height: 100%;
    width: 100%;
  }
}
  .video-service {
    border-top: solid 2px #010508;
    width: 90%;
  }
  .presupuesto {
  width:1000px ;
  height:1000px;
  }
  
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    width: 80%;
    max-width: 1200px;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}
#serviciosed {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
}

.box-servicios {
  border: 2px double #020b55;
  border-radius: 5px;
  background-color: rgba(250, 251, 253, 0.6);
  color: #0c0606;
  font-size: 15px;
  font-family: "roboto-regular";
  text-align: center;
  padding: 2%;
  margin: 10px;
  width: 90%;
  
}
.servicioimg {
  float: center;
  width: 200px;
  height: 200px;
}

.instalacionimg {
  float: center;
  width: 200px;
  height: 200px;
}

.repuestosimg {
  float: center;
  width: 200px;
  height: 200px;
}
.parrafoindex {
  margin-top: 10px;
  font-size: 15px;
  color: black;
  font-size: 15px;
  font-family: "roboto-regular";
}
