
.card-container {
    display:flex;
    padding: 100px;
  }
  
  .card {
    width: 300px;
    border: 1px solid black;
    padding: 5%;
    margin-right: 10px;
  
  img {
    width: 100%;
    height: auto;
  }
  
  h3 {
    margin-top: 10px;
  }
  
  p {
    margin-top: 6px;
  }
  
  .btn.btn-primary {
    text-align: center;
  }
  }

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}
input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid $input-border-color;
    border-radius: 4px;
    background-color: $input-background-color;
    box-sizing: border-box;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: $button-background-color;
    color: $button-text-color;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;

    &:hover {
        background-color: darken($button-background-color, 10%);
    }
}

.fotofrentetaller {
  width: 1155px;
   height: 500px
}

#carouselExampleIndicators {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
