$map: (
  boton1:#3346FF,
  boton2:#FF3333,
  boton3:#42FF33

);

$colors: (
  Instagram: #470147ee,
  Facebook:rgba(9, 50, 87, 0.933),
  Send-mail:rgba(201, 152, 6, 0.933)

);

@mixin tamano ($width, $height) 
{
  width:$width;
  height:$height;
}

$form-background-color: #f9f9f9;
$form-border-color: #ccc;
$input-background-color: #fff;
$input-border-color: #ddd;
$button-background-color: #5cb85c;
$button-text-color: #fff;

  @import "header";
  @import "_body";
  @import "_icono";
  @import "_tarjetas.scss";
  @import "_servicios";
  @import "_productos";
  @import "_nosotros";
  @import "_footer";
  @import "_responsive"

 
